<% layout('./layout/boilerplate') -%>
    <center>
    
        <div class="alert alert-danger mt-5" role="alert" style="width: 50%;">
            <h4 class="alert-heading">Oh! No something does not look rite</h4>
            <p>Make sure to check your routes/info mentioned. Price cannot be a negitive number</p>
        </div>
        <a href="/campgrounds"> <button class="btn btn-outline-success btn-lg ">
        All Campgrounds
        </button></a>
        
    </center>
