<% layout('./layout/boilerplate') -%>

    <center>
        <div class="alert alert-warning mt-5 " role="alert" style="width: 50%;">
            <h4 class="alert-heading display-1">404!</h4>
            <p class="display-4">Page Not Found</p>
        </div>
        <a href="/campgrounds"> <button class="btn btn-outline-success btn-lg ">All Campgrounds</button></a>
    </center>