<% layout('/layout/boilerplate') -%>

    <center class="my-5">

        <h1 class="display-1"> Welcome</h1>
        <p class="mx-5" style="font-size: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos,
            eos
            voluptates! Vero tempora labore
            quis dolorem officiis fuga a praesentium nam, minus inventore, quisquam illo expedita repudiandae debitis
            vitae optio.
            Doloribus sed, sapiente esse odit possimus porro aut similique odio nemo alias error harum eius consectetur,
            itaque reprehenderit provident distinctio. Tempora sunt, eveniet ratione odit praesentium perspiciatis
            aliquam. Reiciendis, ex!
            Mollitia, officiis impedit natus quam dolore reprehenderit esse nisi deserunt atque tenetur architecto eos.
            Odio cupiditate iusto tempore minima voluptatibus, placeat voluptate veniam sed ratione illo quas neque
            repudiandae ducimus!
            Odit, dolorum assumenda doloremque tempora amet numquam culpa ab, impedit veniam doloribus eaque? Aut autem
            hic dolorem molestiae culpa ipsam consequuntur tempora praesentium ratione quia alias nisi, explicabo
            accusantium. Accusantium.</p>


    </center>
    <div class="bg-image" style="
    background-image: url('https://wallpapercave.com/wp/wp3079283.jpg');
    height: 100vh;
  "></div>